.about, .projects {
  background-color: #80bdab;
}

.navigation, .contact{
  background-color: #342b38;
}

.skills, .hobbies{
  background-color: #ff9595;
}

.footer {
  background-color: #ff9595;
}

.project1{
  color:  white;
}

a {
  color: white;
  text-decoration: none;
}

/* use wheat if new color required */




/* animation mail in contact section (currently in about) */
.animated-mail {
	position: absolute;
	height: 75px;
	width: 100px;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	transition: .4s;

	.body {
		position: absolute;
		bottom: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 50px 100px;
		border-color: transparent transparent #e95f55 transparent;
		z-index: 2;
	}

  .top-fold {
		position: absolute;
		top: 25px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 25px 50px 0 50px;
		-webkit-transform-origin: 50% 0%;
		-webkit-transition: transform .4s .4s, z-index .2s .4s;
		-moz-transform-origin: 50% 0%;
		-moz-transition: transform .4s .4s, z-index .2s .4s;
		transform-origin: 50% 0%;
		transition: transform .4s .4s, z-index .2s .4s;
		border-color: #cf4a43 transparent transparent transparent;
		z-index: 2;
	}

	.back-fold {
		position: absolute;
		bottom: 0;
		width: 100px;
		height: 50px;
		background: #cf4a43;
		z-index: 0;
	}

	.left-fold {
		position: absolute;
		bottom: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 25px 0 25px 50px;
		border-color: transparent transparent transparent #e15349;
		z-index: 2;
	}

	.letter {
		left: 10px;
		bottom: 0px;
		position: absolute;
		width: 80px;
		height: 30px;
		background: white;
		z-index: 1;
		overflow: hidden;
		-webkit-transition: .4s .2s;
		-moz-transition: .4s .2s;
		transition: .4s .2s;

		.letter-border {
			height: 5px;
			width: 100%;
      background: repeating-linear-gradient(
        -45deg,
        #cb5a5e,
        #cb5a5e 4px,
        transparent 4px,
        transparent 9px
      );
		}

		.letter-title {
			margin-top: 5px;
			margin-left: 2.5px;
			height: 5px;
			width: 40%;
			background: #cb5a5e;
		}
		.letter-context {
			margin-top: 5px;
			margin-left: 2.5px;
			height: 5px;
			width: 20%;
			background: #cb5a5e;
		}
	}
}

.letter-image:hover {
  .animated-mail {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
  }

  .animated-mail .top-fold {
    transition: transform .4s, z-index .2s;
    transform: rotateX(180deg);
    -webkit-transition: transform .4s, z-index .2s;
    -webkit-transform: rotateX(180deg);
    -moz-transition: transform .4s, z-index .2s;
    -moz-transform: rotateX(180deg);
    z-index: 0;
  }

  .animated-mail .letter {
    height: 70px;
  }

}
/* animation mail in contact section (currently in about) */




/* Timeline plot in about section */
.timeline {
    border-left: 3px solid #342b38;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    white-space: nowrap;
    max-width: 40%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #342b38;
    box-shadow: 0 0 0 3px #342b38;
    left: -55.8px;
    background: #80bdab;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #342b38;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}

.card {
  background-color: transparent;
  border: 0px;
}
/* Timeline plot in about section */


/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

.social-link {
  width: 60px;
  height: 60px;
  border: 2px solid #ddd;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

.social{
  display: flex;
  justify-content: space-evenly;
}

/* .contact {
  align-items: center;
  justify-content: center;
} */