
.page-header, .page-tail {
    background-color: rgb(134,85,73);
    color: rgb(68,45,39);
        padding-top: 10px;
        padding-left: 10px;
}

.page-header img {
    border-radius: 20%;
    float: right;
}

.page-body {
    padding: 10px 10px 10px 10px;
}

a {
    color: rgb(85,60,68);
}

.page-tail a {
    color: rgb(68,45,39);
}

img {
    margin: 10px 10px 10px 10px;
}

html {
    background-color: rgb(201,187,188);
    color: rgb(85,60,68);

}

body {
    margin: 0px 0px 10px 0px;
}
